body {
  font-family: 'Roboto', sans-serif;
  background-color: #EDC478;
}

.header {
  background-color: #F5DEB3;
  text-align: center;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #404040;
}

h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #404040;
}

.body {
  position: relative;
  width: 98%;
  left: 1%;
  background-color: #F5DEB3;
  font-size: 20px;
  min-height: 570px;
}

.footer {
  background-color: #F5DEB3;
  text-align: center;
}

figure {
  float: left;
  text-align: center;
  border: 1px solid black;
  margin: 0px 0px 0px 0px;
}

figcaption {
  max-width: 300px;
  font-size: 15px;
}

img {
  width: 300px;
  max-width: 100%;
  height: auto;
  border: 1px solid black;
}

.fig_img1 {
  float: right;
}

.figc_img1 {
  width: 200px;
  max-width: 100%;
}

.img_img1 {
  width: 200px;
}

.fig_img {
  float: left;
}

.figc_img2 {
  width: 200px;
  max-width: 100%;
}

.img_img2 {
  width: 200px;
}

.header_img {
  width: 44px;
  height: auto;
  border: none;
}
